<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplicacion.envivoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilidades.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnVivoApp">
        <activity android:name=".activitysParaVendedores.MensajeriaVendedor"></activity>
        <activity android:name=".activityParaClientes.ListarStreamingsVendedor" />
        <activity android:name=".activityParaClientes.MensajeriaCliente" />
        <activity
            android:name=".activityParaClientes.ListarVendedores"
            android:label="@string/title_activity_listar_vendedores"
            android:theme="@style/Theme.EnVivoApp.NoActionBar" />
        <activity
            android:name=".activityParaClientes.DataCliente"
            android:label="@string/title_activity_data_cliente"
            android:theme="@style/Theme.EnVivoApp.NoActionBar" />
        <activity
            android:name=".activitysParaVendedores.GestionVideos"
            android:label="@string/title_activity_gestion_videos"
            android:theme="@style/Theme.EnVivoApp.NoActionBar" />
        <activity
            android:name=".activitysParaVendedores.DataLocal"
            android:label="@string/title_activity_data_local"
            android:theme="@style/Theme.EnVivoApp.NoActionBar" />
        <activity
            android:name=".activitysParaVendedores.DataVendedor"
            android:label="@string/title_activity_data_vendedor"
            android:theme="@style/Theme.EnVivoApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EnVivoApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>